<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-view-dashboard mr-2"></i>Dashboard
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Default/Index" target="_blank">
                            <i class="feather-folder mr-2"></i>Siteye Git
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-format-underline mr-2"></i>İlanlarım <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <a href="/EstateAgent/MyAdverts/Index" class="dropdown-item">Tüm İlanlarım</a>
                            <a href="#" class="dropdown-item">Geçmiş İlanlarım</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather-mail mr-2"></i>Mesajlar <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <a href="#" class="dropdown-item">Gelen Mesajlar</a>
                            <a href="#" class="dropdown-item">Giden Mesajlar</a>
                            <a href="#" class="dropdown-item">Yeni Mesaj</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather-link mr-2"></i>Profil & Ayarlar <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <a href="#" class="dropdown-item">Profilim</a>
                            <a href="#" class="dropdown-item">Ayarlar</a>
                            <a href="#" class="dropdown-item">Çıkış Yap</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>