@{
    ViewData["Title"] = "CreateAdverts";
    Layout = "~/Areas/EstateAgent/Views/Shared/_EstateAgentLayout.cshtml";
}

<link href="~/Admin/plugins/dropify/dropify.min.css" rel="stylesheet" type="text/css" />

<div class="page-content">
    <div class="container-fluid">

       
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Dropify</h4>
                        <p class="card-subtitle mb-4">Override your input files with style. Your so fresh input file — Default version.</p>

                        <input type="file" class="dropify" data-height="300" />

                    </div> 
                </div> 
            </div> 
        </div>
    </div>
</div>

