@model CreateWhoWeAreDto

@{
    ViewData["Title"] = "NewAddWhoWeAre";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-sm-12 col-xl-12">
			<div class="bg-light rounded h-100 p-4">
				<h6 class="mb-4">Yeni Biz Kimiz Formu</h6>
				<form method="post">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Başlık</label>
						<input type="text" class="form-control" asp-for="WhoWeAreTitle" id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Alt Başlık</label>
						<input type="text" class="form-control" asp-for="WhoWeAreSubTitle" id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Açıklama 1</label>
						<input type="text" class="form-control" asp-for="WhoWeAreDescription1" id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Açıklama 2</label>
						<input type="text" class="form-control" asp-for="WhoWeAreDescription2" id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>
					<button type="submit" class="btn btn-primary">Bilgileri Kaydet</button>
				</form>
			</div>
		</div>

	</div>
</div>

