<section class="w3l-cover-3">
	<div class="cover top-bottom">
		<div class="container">
			<div class="middle-section text-center">
				<div class="section-width">
					<p>Hayalinizdeki Eve Sahip Olun!</p>
					<h2>Gelin Sizin için Doğru Evi Bulalım</h2>
					<div class="most-searches">
						<h4>En Çok Arananlar</h4>
						<ul>
							<li><a href="#link">Villa</a></li>
							<li><a href="#link">Daire</a></li>
							<li><a href="#link">Yazlık - Bağ Evleri</a></li>
						</ul>
					</div>
					<form asp-action="PropertyListWithSearch" asp-controller="Property" class="w3l-cover-3-gd" method="post">
						<input type="search" name="searchKeyValue" placeholder="Anahtar Kelimeyi Girin" required>
						<span class="input-group-btn">
							<select class="btn btn-default" name="propertyCategoryId" required>
								<option selected="">Gayrimenkül Türü</option>
								<option value="1">Villa</option>
								<option value="2">Bahçe</option>
								<option value="3">Daire</option>
								<option value="4">Tarla</option>
								<option value="5">Yazlık</option>
							</select>
						</span>
						<span class="input-group-btn">
							<select class="btn btn-default" name="city" required>
								<option selected="">Ülke Seçiniz</option>
								<option value="Kayseri">Kayseri</option>
								<option value="İstanbul">İstanbul</option>
								<option value="Ankara">Ankara</option>
								<option value="Antalya">Antalya</option>
							</select>
						</span>
						<button type="submit" class="btn-primary">Ara</button>
					</form>
				</div>
				<section id="bottom" class="demo">
					<a href="#bottom"><span></span>İlan Listesi</a>
				</section>
			</div>
		</div>
	</div>
</section>