@model List<GetProductImageByProductDto>

<div class="single-post-image mb-5">
    <div class="owl-blog owl-carousel owl-theme">
        @foreach(var items in Model)
        {
            <div class="item">
                <div class="card">
                    <img src="@items.ImageUrl" class="img-fluid radius-image" alt="image">
                </div>
            </div>
        }
    </div>
</div>