
<section class="w3l-footers-20">
	<div class="footers20">
		<div class="container">
			<div class="footers20-content">
				<div class="d-grid grid-col-4 grids-content">
					<div class="column">
						<a href="#url" class="link"><span class="fa fa-comments"></span></a>
						<a href="#url" class="title-small">Çokkeçeci Emlak</a>
						<h4>Çokkeçeci Emlak ile dairelerinizi kolayca satıp & kiraya verebilirsiniz. Alanında uzman emlak danışmanı arkadaşlarımız
							sizler için bir tık uzağınızda
						</h4>
						<a href="#buytheme" class="btn btn-style btn-primary">
							Daha Fazlası
							<span class="fa fa-long-arrow-right ml-2"></span>
						</a>
					</div>
					<div class="column">
						<a href="#url" class="link"><span class="fa fa-phone"></span></a>
						<a href="#url" class="title-small">Bize Ulaşın</a>
						<h4>Sorularını için telefon numaramız</h4>
						<a href="tel:+1-2345-678-11">
							<p class="contact-phone mt-2">
								<span class="lnr lnr-phone-handset"></span> +90 
							</p>
						</a>
					</div>
					<div class="column mt-lg-0 mt-md-5">
						<h4 class="mb-1">Email Bülteni</h4>
						<p>Son ilanlar için mail bültenine abone olun</p>
						<form action="#" class="subscribe-form mt-4" method="post">
							<div class="form-group">
								<input type="email" name="subscribe" placeholder="Mail Adresinizi Giriniz..." required="">
								<button class="btn btn-style btn-primary">Kaydet</button>
							</div>
						</form>
						<ul class="footers-17_social">
							<h4 class="d-inline mr-4">Bizi Takip Edin</h4>
							<li><a href="#url" class="twitter"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#url" class="facebook"><span class="fa fa-facebook"></span></a></li>
							<li><a href="#url" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
							<li><a href="#url" class="instagram"><span class="fa fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="d-grid grid-col-3 grids-content1 bottom-border">
					<div class="columns copyright-grid align-self">
						<p class="copy-footer-29">
							© @DateTime.Now.Year Çokkeçeci Gayrimenkul. Tüm Hakları Saklıdır | Designed by <a href="https://www.netsim.com.tr/">ÇOKKEÇECİ YAZILIM</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<button onclick="topFunction()" id="movetop" title="Go to top">
		&#10548;
	</button>
	<script>
		window.onscroll = function () {
			scrollFunction()
		};

		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				document.getElementById("movetop").style.display = "block";
			} else {
				document.getElementById("movetop").style.display = "none";
			}
		}

		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>
</section>
