<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Çokkeçeci Emlak</title>
	<link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/starter/assets/css/style-starter.css">
	<link rel="shortcut icon" href="~/icon/favicon.ico" type="image/x-icon">
</head>
